In [1]:
import json
import requests
import psycopg2
from time import gmtime, strftime

import pandas as pd
import pandas.io.sql as sqlio

import matplotlib.pyplot as plt

### Query Bicing API + Insert into DB Locally

In [22]:
r = requests.get('http://wservice.viabicing.cat/v2/stations')
bicingJson = r.json()

In [26]:
#conexi√≥n a la base de datos
try:
    conn = psycopg2.connect("dbname='bicing' user='postgres' host='localhost' password='root'")
except:
    print("I am unable to connect to the database")

In [27]:
cursor = conn.cursor()
cursor.executemany("INSERT into bicing(id_station,lat,lon,slots,bikes) VALUES (%(id)s, %(latitude)s,%(longitude)s,%(slots)s,%(bikes)s)",bicingJson['stations'])
conn.commit()
cursor.close()

In [28]:
conn.close()

### External query of the DB

In [19]:
try:
    conn = psycopg2.connect("dbname='bicing' user='postgres' host='192.168.1.205' password='root'")
except:
    print("I am unable to connect to the database")
sql = "SELECT distinct(hora) FROM bicing ORDER BY hora DESC LIMIT 3000;"
#sql = "SELECT * FROM bicing WHERE bikesdifference != 0 LIMIT 3000"
df = sqlio.read_sql_query(sql, conn)
conn.close()

In [20]:
df.head()

                        hora
0 2018-10-25 07:03:02.614919
1 2018-10-25 07:02:02.340973
2 2018-10-25 07:01:03.151691
3 2018-10-25 07:00:03.035030
4 2018-10-25 06:59:02.937922